services:
  backend:
    build: ./flask-server
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=development

  frontend:
    build: ./client
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://backend:5000
    depends_on:
      - backend